<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About me</div>
              <p>Hi, my name is <strong>Manohar</strong>. I'm a rational thinker currently working as a software engineer at Sun Technologies. I have two years of experience in the software development field.</p>


              <p>I am a quick learner who has a keen interest in grasping new technologies and approaches. I am an effective communicator with great listening and comprehension skills.</p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">My passion</div>
              <p>I have a passion for <i>solving challenging problems</i> . I'm also very <i>fond of animals</i>, which is the reason why I'm a vegetarian. I also know quite a bit of <i>gardening </i> as I have a decent-sized garden at my house. I also have learned the art the <i>sketching</i>, which is also one of my passion. </p>
              </div>
            </div>
          </div>
        </div>
      </div>