<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012 - 2017</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Engineering</div>
            <h4 class="category">Sai Vidya Institute Of Technology
            </h4>
            <ul>
              <li> Sai Vidya Institute is VTU Affiliated and has a good ranking in Karnataka </li>
              <li>Completed B.E in Computer Engineering with <b>53%</b>.</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010 - 2012</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <h4 class="category">Hymanshu Joythi Kala Peeta
            </h4>
            <ul>
              <li>
                My secondary education is PUC. I had choosen PCME (Physics,Chemistry,Maths,Electronics)
              </li>
              <li>
                Completed my PUC with<b> 69%</b> from Karnataka Board of Education.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2000 - 2010</p>
            <div class="h5">Primary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Primary School</div>
            <h4 class="category">Sri Vani Education Center
            </h4>
            <p> Completed Schooling from 1<sup>st</sup> to 10<sup>th</sup> standard. Obtained 83% in 10<sup>th</sup> from karnataka Board of Education. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>